@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Mode Vars */
  :root {
    --background: 0 0% 100%; /* Body's bg color */
    --foreground: 222 47% 11%; /* Default text color */

    --paper: 0 0% 100%; /*  Used for the bg colors of comps */

    --muted: 240 5% 93%; /* Used for big/primary muted blocks */
    --muted-text: 220 6% 50%; /* Used for faint/disabled els text color */

    --light-text: 240 4% 46%; /* Used for light text such as descriptions */

    --card: 0 0% 100%; /* Used for cards */

    --primary: 175 80% 40%; /* Used for primary button and other primary variants */
    --border: 175 84% 32%; /* Used for bold borders i.e. bright and/or colorful */

    --border-light: 175 6% 90%; /* Used for faint borders */

    --separator: 0 0% 83%; /* Used for separators */

    --ring: 175 84% 38%;

    --accent: 175 61% 34%; /* Used for selected states, hovered states */

    --scroll-thumb: 0 0% 64%; /* Scrollbar thumb body color */

    --invalid: 0 90% 71%; /* Invalid state color - red */

    --danger: 345 77% 50%; /* Used for danger variants */
  }

  /* Dark Mode Vars */
  .dark {
    --background: 180 4% 4%;
    --foreground: 213 31% 91%;

    --paper: 180 4% 6%;

    --muted: 240 4% 16%;
    --muted-text: 220 6% 55%; /* Used for faint/disabled els text color */

    --light-text: 240 5% 65%; /* Used for light text such as descriptions */

    --card: 180 4% 4%; /* Used for cards */

    --border-light: 175 4% 13%; /* Used for light faint borders */

    --separator: 0 0% 24%; /* Used for separators */

    --ring: 175 84% 24%;

    --accent: 175 61% 19%;

    --scroll-thumb: 0 0% 45%;
  }

  * {
    @apply border-border-light;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
